PostgreSQLPortable/
packages/
.vs/
.idea/
AdoShop/bin/
AdoShop/obj/
AdoShopTestCase/bin/
AdoShopTestCase/obj/
PostgresRunner/bin/
PostgresRunner/obj/
AdoShopManagement/bin/
AdoShopManagement/obj/
TestResult.xml