PostgreSQLPortable/
adoShopBackend/packages
adoShopBackend/.vs
adoShopBackend/backend/bin
adoShopBackend/backend/obj
adoShopBackend/backendTestCase/bin
adoShopBackend/backendTestCase/obj
TestResult.xml