<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="2.0.0" targetFramework="net452" />
  <package id="EntityFramework" version="6.1.3" targetFramework="net452" />
  <package id="EntityFramework6.Npgsql" version="3.1.1" targetFramework="net452" />
  <package id="LanguageExt" version="1.7.0" targetFramework="net452" />
  <package id="LanguageExt.Core" version="1.9.1" targetFramework="net452" />
  <package id="LanguageExt.Parsec" version="1.9.1" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
  <package id="NHttp" version="0.1.9.0" targetFramework="net452" />
  <package id="Npgsql" version="3.1.7" targetFramework="net452" />
  <package id="NUnit" version="3.4.1" targetFramework="net452" />
  <package id="Rx-Core" version="2.2.5" targetFramework="net452" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="net452" />
  <package id="Rx-Linq" version="2.2.5" targetFramework="net452" />
  <package id="System.Reactive.Core" version="3.0.0" targetFramework="net452" />
  <package id="System.Reactive.Interfaces" version="3.0.0" targetFramework="net452" />
  <package id="System.Reactive.Linq" version="3.0.0" targetFramework="net452" />
  <package id="System.Reactive.PlatformServices" version="3.0.0" targetFramework="net452" />
</packages>